<header>
  <div class="navbar navbar-primary bg-primary box-shadow">
    <div class="container d-flex justify-content-between bg-color">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong class="bg-color">Servi Envia</strong>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>


<body class="bg-white">

  <div class="container">
    <div class="container-fluid my-3">
      <kendo-tabstrip>

        <kendo-tabstrip-tab [title]="'CLIENTE'" [selected]="true">
          <ng-template kendoTabContent>
            <app-customer-view></app-customer-view>
          </ng-template>
        </kendo-tabstrip-tab>

        <kendo-tabstrip-tab [title]="'PAQUETES'">
          <ng-template kendoTabContent>
            <app-package-view></app-package-view>
          </ng-template>
        </kendo-tabstrip-tab>

      </kendo-tabstrip>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">© 2020 @Copyright Victor Leandro Espitia - Birman Cardona</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="https://servienviaapi.azurewebsites.net/">ServiEnvia API Azure</a></li>
        <li class="list-inline-item"><a href="https://github.com/birman/ServiEnvia/">Git repository ServiEnvia API REST
            code</a></li>
        <li class="list-inline-item"><a href="https://github.com/birman/ServiEnvia-FrontEnd-/">Git repository ServiEnvia
            FrontEnd code</a></li>
      </ul>
    </footer>
  </div>

</body>
