<nav class="navbar navbar-light bg-light nav-bar-padding">
  <span class="navbar-brand mb-0 h2 padding-navbar-h2" translate>Servi Envia</span>
  <span class="navbar-text" translate><i>Copyright 2020 © Victor Espitia - Birman Cardona</i>
    V1.0 200.01
  </span>
</nav>

<div class="container-fluid my-3">
  <kendo-tabstrip>

    <kendo-tabstrip-tab [title]="'CLIENTE'" [selected]="true">
      <ng-template kendoTabContent>

      </ng-template>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab [title]="'PAQUETES'" >
      <ng-template kendoTabContent>

      </ng-template>
    </kendo-tabstrip-tab>

  </kendo-tabstrip>
</div>
