.switch-panel-margin {
  margin-left: 8px;
  margin-right: 8px !important;
}

.card-title-align-middle label {
  vertical-align: middle;
  margin: 0px;
  height: 22px;
}

.card-header-padding {
  padding: .1rem 1.2rem !important;
}

.card-margin-bottom-half {
  margin-bottom: 0.5rem !important;
}

.card-body-padding-fieldset {
  padding: 0.45rem 1.19rem 0.3rem 1.19rem !important;
}

.item-deletion-padding-left {
  padding-left: 1.8rem !important;
}

.switch-margin-lr {
  margin: 0 0.5rem 0 0.25rem !important;
}

.padding-right-half {
  padding-right: 0px!important;
}

.padding-navbar-h2 {
  padding-bottom: 0.3359375rem !important;
}

.form-group {
  margin-bottom: 0.4rem !important;
}

.fieldset-by-element-height {
  height: 155px !important;
}

.kendo-dropdown-with-100 {
  width: 100% !important;
}

.nav-bar-padding {
  padding: 0.2rem 0.7rem !important;
}

